#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python,
2. R,
3. SQL,
4. Julia,
5. Java,
6. Scala,
7. C++

**Objectives:**
- Python
- R
- SQL

Some of the commonly used libraries used by Data Scientists include:
1. Scientific Computing Libraries
    - Pandas
    - NumPy
2. Visualization Libraries
    - matplotlib
    - seaborn
3. High-level ML and Deep Learning Libraries
    - Sckit-learn
    - Keras

|Data Science Tools|
| ------ |
| Jupyter Notebook |
| RStudio |
| VSCode |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

$$
2 + 2 = 4
$$

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print("Minutes:", minutes)
print("Hours:", hours)

Minutes: 200
Hours: 3.3333333333333335

## Author

Ahmad Wira Indrawan